<a href="https://colab.research.google.com/github/ricardocidelino/python_curso/blob/main/Ex_Udemy_Se%C3%A7%C3%A3o_4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
'''EX 1'''
num = int(input('Insira um número inteiro: '))
print(num)

In [ ]:
'''EX 2'''
num = int(input('Insira um número real: '))
print(num)

In [ ]:
'''EX 3'''
soma = 0
for n in range(0,3):
  num=int(input(f'Digite o {n+1}º número:'))
  soma=soma + num
print(soma)

In [ ]:
'''EX 4'''
real = int(input('Insira um número real: '))
print(real**2)

In [ ]:
'''EX 5'''
real = int(input('Digite um número real: '))
print(real/5)

In [ ]:
'''EX 6'''
celso=int(input('Digite a temperatura em Celcius para conversão em Fahrenheit: '))
f=(celso*9/5)+32
print(f'{f:.0f}ºF')
print(50-32)

In [ ]:
'''EX 7'''
f=int(input('Digite a temperatura em Fahrenheit para conversão em Celcius: '))
c=5*(f-32)/9
print(f'{c:.0f}ºC')

In [ ]:
'''EX 8'''
k=int(input('Insira a temperatura em Kelvin para conversão em Celcius: '))
c=k-273.15
print(f'{c:.0f}ºC')

In [ ]:
'''EX 9'''
c=int(input('Insira a temperatura em Celcius para conversão em Kevin: '))
k=c+273.15
print(f'{k:.0f}ºK')

In [ ]:
'''EX 10'''
k=int(input('Digite a velocidade em kilômetros: '))
m=k/3.6
print(f'{k:.0f}/h equivale a {m:.0f}/s')

In [ ]:
'''EX 11'''
m=int(input('Digite a velocidade em metros por segundo: '))
k=m*3.6
print(f'{m:.0f}/s equivale a {k:.0f}/h')

In [ ]:
'''EX 12'''
m=int(input('Informe a velocidade em milhas para conversão em kilometros: '))
k=m*1.61
print(f'{m:.0f}m/h é equivalente a {k:.0f}km/h')

In [ ]:
'''EX 13'''
k=int(input('Informe a velocidade em kilômetros para conversão em milhas: '))
m=k/1.61
print(f'{k:.0f}km/h é equivalente a {m:.0f}m/s')

In [ ]:
'''EX 14'''
g=float(input('Insira o ângulo para conversão em graus radianos: '))
r=g*3.14/180
print(f'radiano {r}')

In [ ]:
'''EX 15'''
r=float(input('Insira o Radiano para conversão em ângulo'))
g=r*180/3.14
print(f'ângulo {g}')

In [ ]:
'''EX 16'''
pol=int(input('Digite a polegada para conversão em comprimento: '))
comprimento=pol*2.54
print(f'{comprimento:.0f}cm')

In [ ]:
'''EX 17'''
comprimento=int(input('Digite o comprimento para conversão em polegada: '))
p=c/2.54
print(f'{p:.0f} pol')

In [ ]:
'''EX 18'''
m = int(input('Digite a quantidade em metros cúbicos: '))
l=1000*m
print(f'{l} litros')

In [ ]:
'''EX 19'''
l=int(input('Digite a quantidade em litros: '))
m=l/1000
print(f'{m:.0f} m3')

In [ ]:
'''EX 20'''
kilo=int(input('Digite o valor em kilos: '))
libra=kilo/0.45
print(f'{libra:.2f} lb')

In [ ]:
'''EX 21'''
libra=int(input('Digite o valor em libras: '))
kilo=libra*0.45
print(f'{kilo:.2f} kg')

In [ ]:
'''EX 22'''
jarda=int(input('Digite o valor em jardas: '))
metro=0,91*jarda
print(f'{jarda:.0f} jardas equivale a {metro:.0f} metros')

In [ ]:
'''EX 23'''
metro=int(input('Digite o valor em metros'))
jarda=metro/0,91
print(f'{metro:.0f} metros equivale a {jarda:.0f} jardas')

In [ ]:
'''EX 24'''
acre=int(input('Digite o valor em acre: '))
m2=acre*4048.58
print(f'{acre:.0f} acres equivalem a {m2:.0f} m2')

In [ ]:
'''EX 25'''
m2=int(input('Digite o valor em m2: '))
acre=m2*0.000247
print(f'{m2} m2 equivalem a {acre:.0f} acres')

In [ ]:
'''EX 26'''
m2=int(input('Insira o valor em m2: '))
h=m2*0,0001
print(f'{m2} equivale a {h:.0f} hectares')

In [ ]:
'''EX 27'''
h=int(input('Insira o valor em hectares: '))
m2=h*10000
print(f'{h:.0f} hectares equivalem a {m2:.0f} m2')

In [ ]:
'''EX 28'''
soma=0
for n in range (0,3):
    num=int(input(f'Informe o {n+1}º número: '))    
    soma=soma+(num**2)
print(soma)

In [ ]:
'''EX 29'''
soma = 0
for n in range (0,4):
  nota=int(input('informe a {n}ª nota: '))
  soma=nota+soma
  media=soma/4  
print(media)

In [ ]:
'''EX 30'''
real=float(input('Insira o valor em Reais: R$ '))
dolar=float(input('Digite a cotação do dólar atual: US$ 1,00 = R$ '))
cambio=real/dolar
print(f'Você tem {cambio:.2f} dólares')

In [ ]:
'''EX 31'''
num=int(input('Insira um número: '))
print(f'O número digitado foi {num} que vem depois do {num-1} e é sucedido por {num+1}')

In [ ]:
'''EX 32'''
num=int(input('Digite um número: '))
form=((num+1)*3)+(num*2)-1
print(form)

In [ ]:
'''EX 37'''
produto=int(input('Digite o valor de um produto: '))
desconto=produto*0.88
print(desconto)

Digite o valor de um produto: 100
88.0

In [ ]:
'''EX 38'''
salario=int(input('Digite o salário: '))
aumento=salario*1.25
print(f'Com o aumento do salário R${salario:.2f} foi para R${aumento:.2f}.')

Digite o salário: 1000
O aumento do salário 1000.00 foi para 1250.00.

In [ ]:
'''EX 39'''
premio=780000.00
winner1=premio*0.46
winner2=premio*0.32
winner3=premio-(winner1+winner2)
print(f'O prêmio foi de {premio:.2f} e será dividido para os 3 ganhadores:')
print(f'ganhador 1: {winner1:.2f}')
print(f'ganhador 2: {winner2:.2f}')
print(f'ganhador 3: {winner3:.2f}')

O prêmio foi de 780000.00 e será dividido para os 3 ganhadores:
ganhador 1: 358800.00
ganhador 2: 249600.00
ganhador 3: 171600.00

In [ ]:
'''EX 40'''
dia=int(input('Digite os dias trabalhados: '))
ir=(dia*30)*0.92
print(f'Valor total dos dias trabalhados: {dia*30:.2f}\nValor líquido com o IR: {ir:.2f}')

Digite os dias trabalhados: 1
Valor total dos dias trabalhados: 30.00
Valor líquido com o IR: 27.60

In [ ]:
'''EX 41'''
hora=int(input('Digite quanto você ganha por hora: '))
dia=int(input('Digite quantos dias foram trabalhados: '))
salario=((hora*8)*dia)*0.9
print(f'Você trabalhou {dia:.0f} dias, totalizando {hora:.0f} horas.\nValor a receber: {salario:.2f}')

Digite quanto você ganha por hora: 12
Digite quantos dias foram trabalhados: 30
Você trabalhou 30 totalizando 12 horas.
Valor a receber: 2592.00

In [ ]:
'''EX 42'''
base=int(input('Digite seu salário: '))
salario=(base*1.05)*0.93
print(f'Você tem salario base no valor de: R$ {base:.2f}\nSua gratificação será de R$ {base*0.05:.2f}\nImposto: R$ {salario*0.07:.2f}\nSeu salário será: R$ {salario:.2f}')

Digite seu salário: 1000
Você tem salario base no valor de: R$ 1000.00
Sua gratificação será de R$ 50.0
Imposto: R$ 68.36
Seu salário será: R$ 976.50

In [ ]:
'''EX 43'''
carrinho = 0
produto=int(input('Digite o valor da compra: R$ '))
total=carrinho+produto
desconto=total*0.9
parcela=total/3
comissao1=desconto*0.05
comissao2=total*0.05
pag=int(input('1 à vista - 2 parcelado: '))
if pag == 1:
  print(f'Total a pagar R$ {total:.2f}\nTotal com desconto à vista R$ {desconto:.2f}\nComissão à vista: R$: {comissao1:.2f}')
elif pag == 2:
  print(f'Valor das parcelas R$ {parcela:.2f} 3x sem juros.\nComissão parcelada: R$ {comissao2}')
else:
  pag=int(input('Responda corretamente\n1 à vista - 2 parcelado: '))

In [ ]:
'''EX 44'''
degrau=float(input('Digite a altura do degrau que deseja: '))
altura=float(input('Digite a altura que deseja subir: '))
qtd=altura/degrau
print(f'Sua escada terá {qtd:.0f} degraus')

In [ ]:
'''EX 45'''

In [ ]:
'''EX 46'''
lista=list()
for n in range(0,3):
    num=int(input('Digite um número com 3 dígitos: '))
    lista.append(num)
lista.reverse()
print(lista)

Digite um número com 3 dígitos: 1
Digite um número com 3 dígitos: 2
Digite um número com 3 dígitos: 3
[3, 2, 1]

In [ ]:
'''EX 47'''
num=int(input('Insira 4 dígitos: '))
print((num))

In [ ]:
'''EX 47'''